@import url("./fonts/fonts.css");

html {
	overflow-x: hidden;
}


.body {
	background-color: #098BAB;
	max-width: 1600px;
	width: 100%;
	color: #FAFAFA;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

/* Начало header */

.header {
	width: 100%;
	min-height: 75px;
	background-color: rgba(9, 139, 171, .8);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	z-index: 10;
	position: fixed;
	top: 0;
}

.header__body {
	max-width: 1270px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: auto;
}

.header__logo {
	max-width: 59px;
}

.header__burger {
	display: none;
}

.header__links-contain {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 490px;
	width: 100%;
}

.header__link {
	color: #FAFAFA;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 500;
	line-height: 19px;
}

/* Конец header */
/* Начало intro */

.intro {
	background-image: url("./images/intro__background.svg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 1000px;
	margin-top: -75px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.intro__body {
	max-width: 1270px;
	width: 100%;
	margin: auto;
}

.intro__contain {
	width: 100%;
	margin-top: 200px;
}

.intro__title {
	font-size: 4.4rem;
	font-weight: 700;
	line-height: 82px;
	max-width: 880px;
	margin-bottom: 15px;
}

.intro__subtitle {
	font-size: 2.2rem;
	font-weight: 500;
	line-height: 41px;
	max-width: 619px;
	margin-bottom: 30px;
}

.intro__button {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 29px;
	background-color: #EF7730;
	color: #FAFAFA;
	border-radius: 20px;
	padding: 20px;
	max-width: 360px;
	width: 100%;
	border: none;
}

/* Конец intro */
/* Начало where */

.where {
	width: 100%;
	min-height: 925px;
	background-image: url("./images/where__background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.where__body {
	max-width: 1270px;
	width: 100%;
	margin: auto;
}

.where__contain {
	width: 100%;
	margin: auto 0;
	min-height: 565px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.where__place-img {
	-o-object-fit: cover;
	   object-fit: cover;
	width: 100%;
}

.where__title {
	font-size: 2.8rem;
	font-weight: 700;
	line-height: 53px;
	color: #1F252B;
}

.where__places-track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	width: 100%;
}

.where__place {
	max-width: 360px;
	width: 100%;
	min-height: 490px;
	border-radius: 20px;
	background-color: #098BAB;
	-webkit-box-shadow: 4px 4px 0 0 rgb(0, 0, 0);
	        box-shadow: 4px 4px 0 0 rgb(0, 0, 0);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-right: 30px;
}

.where__place:last-child {
	margin-bottom: 0;
}

.where__place-content {
	max-width: 324px;
	width: 100%;
	margin: 15px auto auto;
}

.where__place-title {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 23px;
	margin-bottom: 5px;
}

.where__place-text {
	font-weight: 400;
	font-size: 1rem;
	line-height: 19px;
	margin-bottom: 5px;
}

/* Конец where */
/* Начало blog */

.blog {
	width: 100%;
	min-height: 750px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.blog__body {
	max-width: 1270px;
	width: 100%;
	margin: auto;
}

.blog__contain {
	width: 100%;
	margin: auto 0;
	min-height: 515px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.blog__title {
	font-weight: 700;
	font-size: 2.8rem;
	line-height: 53px;
}

.blog__content {
	max-height: 420px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.blog__img {
	max-width: 490px;
	width: 100%;
	border-radius: 20px;
	-webkit-box-shadow: 4px 4px 0 0 rgb(0, 0, 0);
	        box-shadow: 4px 4px 0 0 rgb(0, 0, 0);
	margin-right: 30px;
}

.blog__text-track {
	max-width: 620px;
	width: 100%;
	min-height: 320px;
}

.blog__text {
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 29px;
	margin-bottom: 40px;
}

.blog__text:last-child {
	margin-bottom: 0;
} 

/* Конец blog */
/* Начало menu */

.menu {
	width: 100%;
	min-height: 925px;
	background-image: url("./images/where__background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.menu__body {
	max-width: 1270px;
	width: 100%;
	margin: auto;
}

.menu__contain {
	width: 100%;
	margin: auto 0;
	min-height: 500px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.menu__title {
	font-size: 2.8rem;
	font-weight: 700;
	line-height: 53px;
	color: #1F252B;
}

.menu__cards-track {
	width: 100%;
	max-height: 405px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
}

.menu__card {
	max-width: 360px;
	width: 100%;
	min-height: 80px;
	background-color: #098BAB;
	-webkit-box-shadow: 4px 4px 0 0 rgb(0, 0, 0);
	        box-shadow: 4px 4px 0 0 rgb(0, 0, 0);
	margin: 0 30px 40px 0;
	border-radius: 10px;
	padding: 15px 35px 15px 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.menu__card:nth-child(3n) {
	margin-bottom: 0;
}

.menu__card-title-contain {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.menu__card-text {
	font-weight: 300;
	font-size: 1rem;
	line-height: 19px;
	max-width: 315px;
	margin-top: 5px;
}

.menu__card-title {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 23px;
}

.menu__card-price {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 23px;
}

/* Конец menu */
/* Начало catering */

.catering {
	width: 100%;
	min-height: 925px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #FAFAFA;
}

.catering__body {
	max-width: 1270px;
	width: 100%;
	margin: auto;
}

.catering__contain {
	width: 100%;
	margin: auto 0;
	max-height: 580px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.catering__title {
	font-weight: 700;
	font-size: 2.8rem;
	line-height: 53px;
	color: #1F252B;
}

.catering__content {
	max-height: 420px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.catering__text-track {
	max-width: 620px;
	width: 100%;
	min-height: 320px;
}

.catering__text {
	color: #1F252B;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 29px;
	margin-bottom: 40px;
}

.catering__text:last-child {
	margin-bottom: 0;
} 

/* Конец catering */
/* Начало slider */

.slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	max-width: 620px;
	margin-right: 30px;
}

.slide__img {
	width: 100%;
}

.slider-track {
    position: relative;
    width: calc(100% * 4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.slider__vieport {
	width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.slider-track ul, .slider-track li {
    margin: 0;
    padding: 0;
}

.slider-track li {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slider__nav-btn {
	display: none;
}

.slider__arrows {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: end;
	    align-self: flex-end;
	margin: 20px 40px 0 0;
}

.d15 {
	width: 60px; 
	height: 20px; 
	margin: 10px 0;
	background: #1F252B;
	position: relative;
	cursor: pointer;
}

.d15:after {
	content: "";
	width: 0; 
	height: 0;
	position: absolute; 
	top: -10px; 
	left: 100%;
	border-width: 20px 0 20px 40px;
	border-style: solid;
	border-color: transparent #1F252B;
}

.d16 {
	width: 60px; 
	height: 20px; 
	margin: 10px 0;
	background: #1F252B;
	position: relative;
	margin-right: 90px;
	cursor: pointer;
}

.d16::before {
	content: "";
	width: 0; 
	height: 0;
	position: absolute; 
	top: -10px; 
	right: 100%;
	border-width: 20px 40px 20px 0;
	border-style: solid;
	border-color: transparent #1F252B;
}

/* Конец slider */

@media (max-width: 416px) {
	.body {
		max-width: 416px
	}

	.header {
		max-width: 416px;
		min-height: 45px;
		max-height: 45px;
	}

	.header__body {
		max-width: 335px;
	}

	.header__logo {
		max-width: 35px;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
	}

	.header__burger span {
		position: absolute;
		background-color: #FAFAFA;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		border-radius: 5px;
	}

	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color: #FAFAFA;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		border-radius: 5px;
	}

	.header__burger:before {
		top: 0;
	}

	.header__burger:after {
		bottom: 0;
	}

	.header__links-contain {
		display: none;
	}

	.intro {
		background-image: url("./images/intro__background_mobil.svg");
		margin-top: 0;
		max-width: 416px;
		min-height: 650px;
	}

	.intro__body {
		max-width: 335px;
	}

	.intro__title {
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 41px;
		max-width: 335px;
		margin-bottom: 8px;
	}

	.intro__subtitle {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 23px;
		max-width: 335px;
		margin-bottom: 21px;
	}

	.intro__button {
		padding: 15px;
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 23px;
		border-radius: 10px;
	}

	.where {
		background-image: url("./images/where__background_mobil.jpg");
		min-height: 760px;
	}

	.where__contain {
		min-height: 546px;
		overflow: visible;
	}
	.where__title {
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 41px;
		max-width: 335px;
    	width: 100%;
    	margin: auto;
	}

	.where__places-track {
		overflow-x: scroll;
		max-width: 950px;
		padding: 5px;
	}

	.where__place {
		min-width: 300px;
		margin-right: 20px;
	}

	.where__place-img {
		width: 100%;
		min-height: 355px;
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
	}

	.where__place-content {
		max-width: 262px;
	}

	.blog {
		width: 100%;
		min-height: 700px;
		display: flex;
	}

	.blog__body {
		max-width: 335px;
		margin: auto;
	}

	.blog__title {
		font-weight: 700;
		font-size: 2.2rem;
		line-height: 41px;
	}

	.blog__title span {
		display: none;
	}

	.blog__contain {
		max-height: 335px;
	}

	.blog__content {
		max-height: 483px;
		flex-direction: column;
	}

	.blog__img {
		max-width: 490px;
		border-radius: 10px;
		margin-right: 0;
		margin-bottom: 15px;
	}

	.blog__text-track {
		max-width: 335px;
		min-height: 0;
		max-height: 133px;
		overflow-y: scroll;
	}

	.blog__text {
		font-weight: 400;
		font-size: 1rem;
		line-height: 19px;
		margin-bottom: 10px;
	}

	.menu {
		min-height: 650px;
		background-image: url("./images/where__background_mobil.jpg");
	}

	.menu__body {
		max-width: 335px;
	}

	.menu__title {
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 41px;
	}

	.menu__contain {
		min-height: 0;
		height: 460px;
	}

	.menu__cards-track {
		height: 455px;
		overflow-x: scroll;
	}

	.menu__card {
		margin-bottom: 20px;
		max-width: 325px;
	}

	.catering {
		min-height: 650px;
		background-image: url("./images/where__background_mobil.jpg");
	}

	.catering__body {
		max-width: 335px;
		margin: auto;
	}

	.catering__title {
		font-weight: 700;
		font-size: 2.2rem;
		line-height: 41px;
	}

	.catering__contain {
		max-height: 335px;
	}

	.catering__content {
		flex-direction: column;
	}

	.catering__text {
		font-weight: 400;
		font-size: 1rem;
		line-height: 19px;
		margin-bottom: 10px;
	}

	.slider__arrows {
		display: none;
	}

	.slider__nav-btn {
		display: block;
		position: absolute;
		width: 100%;
		bottom: 20px;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	
	.slide-nav-btn {
		position: relative;
		display: inline-block;
		list-style: none;
		width: 5px;
		height: 5px;
		background-color: #fff;
		border-radius: 50%;
		margin: 3px;
	}
	
	.slide-nav-btn:hover {
		cursor: pointer;
	}

	.catering__contain {
		max-height: 425px;
		height: 425px;
	}

	.slider__vieport {
		border-radius: 10px;
		box-shadow: 4px 4px 0 0 rgb(0, 0, 0);
	}

	.catering__text-track {
		max-width: 335px;
		min-height: 0;
		max-height: 133px;
		overflow-y: scroll;
	}

	.catering__content {
		max-height: 365px;
		height: 365px;
		justify-content: space-between;
	}
}